html, body, #root, canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* .container{
    display: flex;
    flex-direction: row-reverse;
} */
.nav{
    /* height: 50px; */
    width: fit-content;
    background: rgba(147, 133, 200, 0.759);
    box-shadow: inset 0px 0px 5px rgb(54, 62, 80)
}
