@import url('https://fonts.googleapis.com/css?family=Teko');
html, body, #root, canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Teko;
}

/* .container{
    display: flex;
    flex-direction: row-reverse;
} */
.nav{
    /* height: 50px; */
    width: fit-content;
    background: rgba(147, 133, 200, 0.759);
    box-shadow: inset 0px 0px 5px rgb(54, 62, 80)
}
.fallbackContainer{
    background-color: rgba(29, 29, 36, 0.997);
    height: 100%;
    display: flex;
    justify-content: center;

}
.loadingCarShow{
    align-items: center;
    height: 100%;
}

.animate-charcter{
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     rgb(35, 21, 87) 0%,
     rgb(31, 65, 133) 29%,
     rgb(165, 8, 105) 67%,
     rgb(36, 147, 161) 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;

 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
 @media only screen and (min-width: 600px ){
    .animate-charcter{
        font-size: 90px;
        
    }
 }
